 <ng-include ng-if="loggedIn"
      src="'views/common/header.html'"
      >
</ng-include>

 <div class="container full-w mar-neg-right-15" ng-if="loggedIn">
   <div class="row">
     <div class="col-md-12 pad-0">
        
        <!-- Sidebar -->
        <div class="col-md-3 pad-0 mar-0">
          <div class="col-md-12 pad-0 mar-0">
            <div class="row  mar-right-0 sidebar-head text-left pad-y-10 mar-top-0 min-height-66 min-width-363  col-sm-12" id="open-tickets">
              <span class="font-white pad-10 font-22 font-b ">
                <label class="mar-top-13 font-b" >Open Tickets ({{ticketNum}})</label> 
              </span>
              <span class="glyphicon glyphicon-triangle-bottom" id="arrow" ng-click="display()" ></span>
            </div>


            <div class="row tickets  mar-right-0 p-rel minh-350" ng-hide="show">
            <div class="row tickets mar-right-0 pad-10 pad-left-10 border-bot-gray" >
              <label id="day">Today</label>
            </div>
              <div class="col-md-12 pad-0 ">
                <div class="col-md-12 mar-y-20 border-bot-gray" ng-repeat="t in ticket" id="ticketData"  >
                  <div class="col pad-5 ticket-list" view-data link="/ticket/{{t.ticketId}}"  did="{{t}}"  >
                    <div class="col-md-8 " >
                      <span class="font-12 margin-left-18" >
                       {{t.issue}}
                      </span>
                    </div>
                    <div class="col-md-4" >
                      <span class="font-12">
                        {{t.time}}
                      </span>
                    </div>
                    <div class="col-md-12 pad-y-10 " >
                      <label class="label label-danger font-16 margin-left-18" ng-model="(t.tName)" color-data  cls={{t.tName}}>
                        {{t.tName }}
                      </label>
                    </div>
                  </div>

                </div>
              </div>



            </div>

          </div>
        </div>
        <!-- Sidebar Ends -->

         <!-- Main  -->
        <div class="col-md-9 pad-15  pad-right-0 mar-0 text-center main-content-container">
<!--           <div class="col-md-12 full-w main-content minh-550">
              <div class="col-md-12 pad-10" id="data-holder" >
                  <h4 class="col-md-12" >My feburary SOA was not accurate.</h4>
                  <label class="col-md-12" >data Holder</label>
                  <label class="col-md-12" >Account Billing</label>
                  <div class="row">
                    <div class="col-md-12">
                      <div id="data" class="col-md-2">
                              <label class="lbl-data">Status:</label><br />
                              <label class="lbl-data">Name:</label><br />
                              <label class="lbl-data" style="">Mobile No:</label><br />
                              <label class="lbl-data">IMEI:</label><br />
                              <label class="lbl-data">Email Address:</label><br />
                      </div>
                      <div class="col-md-2">
                             <label class="lbl-data2" id="Status">open</label><br />
                             <label class="lbl-data2" id="">open</label><br />
                             <label class="lbl-data2">open</label><br />
                             <label class="lbl-data2">092323457</label><br />
                             <label class="lbl-data2">danevincentpainaga@gmail.com</label><br />
                      </div>
                      <div id="data" class="col-md-4" style="float: left;">
                              <label class="lbl-data">Department:</label><br />
                              <label class="lbl-data">Help Topic:</label><br />
                              <label class="lbl-data">Assigned To:</label><br />
                              <label class="lbl-data">Last Reply:</label><br />
                      </div>
                      <div class="col-md-2">
                             <label class="lbl-data2" id="Status">open</label><br />
                             <label class="lbl-data2" id="">open</label><br />
                             <label class="lbl-data2">open</label><br />
                             <label class="lbl-data2">open</label><br />
                     
                      </div>
                      <div id="btn" class="col-md-12 text-left mar-y-10">
                            <button class="btn-info btn">MARK AS DUPLICATE</button>
                            <button class="btn-warning btn">TRANSFER</button>
                            <button class="btn-success btn">CLOSE</button>
                      </div>
                    </div>
                  </div> -->
              </div>

              <div class = "col-md-12 pad-10 text-left pad-x-20" id="conversation">
                <!--   <label id="lbl-conversation">Converstation</label><br />
                  <div id="col-md-12 contents">
                    <div class="col-md-12">
                        <ul ng-controller="MainCtrl" ng-repeat="data in datas track by $index">
                          <li style="list-style-type: none;">
                            <label id="name" style="float: left; list-style-type: none; margin-left: -55px ">
                              {{data.user.name}}
                            </label>
                              <label style="margin-left: 107px; font-weight: normal;">{{data.message}}</label>
                          </li>
                          <li style="list-style-type: none;"><label id="time">{{ data.dates | date:'HH:mma' }}</label></li>
                        </ul>
                    </div>
                    <div class="col-md-12 pad-y-10">
                      <div class="col-md-8 col-md-offset-2 text-center pad-y-10">
                        <input ng-controller="UserCtrl" type="hidden" name="user" value="userdata.name">
                        <textarea ng-model="comments"  id="comment-box"></textarea>
                        <input type="text" name="" ng-model="comments"  id="comment-box">
                      </div>

                      <div class="col-md-10 col-md-offset-1  text-right">
                        <input type="button" name="" value="Reply" ng-click="getComments(comments)" class="btn-info btn mar-right-20">
                        <div ng-repeat="tc in tm">
                          <ul ng-repeat="tm in tc.conversation" >
                              <li>{{tm.message}}</li>
                          </ul>
                        </div>
                      </div>
                                                
                    </div> -->
                  </div>


              </div>
          </div>
        </div>
        <!-- Main Ends -->
     </div>
    
   </div>
 </div>