 <ng-include ng-if="loggedIn"
      src="'views/common/header.html'"
      >
</ng-include>

<div class="model-container" ng-repeat="ticket in tickets track by $index">
      
            <div class="row">
                <div class="col-md-12">
                    <div class="model-stats">
                        <h3>{{ ticket.name }}</h3>
                        <div ng-repeat="assign_to in ticket.assign_to">
                          <label style="margin-left: 107px; font-weight: normal;">Assign To:{{assign_to.name}}</label>
                        </div>
                        
                        <!-- <h3>{{ ticket.message }}</h3> -->
                        <ul ng-controller="TicketViewCtrl" ng-repeat="message in ticket.message track by $index">
                          <li style="list-style-type: none;">
                            <label id="name" style="float: left; list-style-type: none; margin-left: -55px ">
                              {{message.name}}
                            </label>

                            <label style="margin-left: 107px; font-weight: normal;">{{message.message}}</label>
                          </li>
                          <li style="list-style-type: none;"><label id="time">{{ message.dates | date:'HH:mma' }}</label></li>
                        </ul>
                    </div>
                    <!-- div class="model-motto">
                        <p>{{ model.motto }}</p>
                    </div> -->
                </div>
            </div>
      
 </div>


 <div class="container full-w mar-neg-right-15" ng-if="loggedIn">
   <div class="row">
     <div class="col-md-12 pad-0">
        
        <!-- Sidebar -->
       <!--  <div class="col-md-3 pad-0 mar-0">
          <div class="col-md-12 pad-0 mar-0">
            <div class="row  mar-right-0 sidebar-head text-left pad-y-10 mar-top-0 min-height-66 min-width-363" >
              <span class="font-white pad-10 font-22 font-b ">
                <label class="mar-top-13 font-b">Open Tickets ({{ticketNum}})</label>
              </span>
            </div>

            <div class="row tickets mar-right-0 pad-10 pad-left-10 border-bot-gray">
              Today
            </div>

            <div class="row tickets  mar-right-0 p-rel minh-350">
              <div class="col-md-12 pad-0 ">
                <div class="col-md-12 mar-y-20 border-bot-gray" ng-repeat="t in ticket">
                  <div class="col pad-5 ticket-list" view-data  did="{{t}}"  >
                    <div class="col-md-8" >
                      <span class="font-12">
                       {{t.issue}}
                      </span>
                    </div>
                    <div class="col-md-4" >
                      <span class="font-12">
                        {{t.time}}
                      </span>
                    </div>
                    <div class="col-md-12 pad-y-10">
                      <label class="label label-danger font-16" ng-model="(t.tName)" color-data  cls={{t.tName}}>
                        {{t.tName }}
                      </label>
                    </div>
                  </div>

                </div>
              </div>



            </div>

          </div>
        </div> -->
        <!-- Sidebar Ends -->

         <!-- Main -->
        <div class="col-md-12 pad-15  pad-right-0 mar-0 text-center main-content-container">
        	<div class="col-md-12">
        		<h1>Tickets</h1>
        	</div>
      
        </div>
        <!-- Main Ends -->
     </div>
    
   </div>
 </div>
